@page "/form/complete"
@model Jfi.Matomo.Demo.Pages.FormCompleteModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1>Complete</h1>
        <p>Form is complete</p>
    </div>
</div>