@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Start form</h1>
        <govuk-button-link is-start-button="true" asp-page="FormStart">Start now</govuk-button-link>
    </div>
</div>